body {
  background: linear-gradient(to top, #791212, #613131, #742736);
}

.wrapper {
  border-radius: 10px;
  text-align: center;
}
.wrapper h2 {
  color: #7676c2;
  letter-spacing: 0.2em;
  font-size: 2em;
  font-weight: bold;
}
.wrapper form {
  margin: 10px;
  border: #fff 1px solid;
  border-radius: 5px;
}
.wrapper form:hover {
  box-shadow: 0 0 5px grey;
}
.wrapper form h4 {
  letter-spacing: 0.112em;
  margin-top: 10px;
  font-size: 1.4em;
  color: lightgrey;
}
.wrapper form .input-group {
  margin: 10px;
}
.wrapper form .input-group .input-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.wrapper form .input-group .input-box input[type=text],
.wrapper form .input-group .input-box input[type=email],
.wrapper form .input-group .input-box input[type=tel] {
  color: #333;
  width: 200px;
  font-size: 1.2em;
}
.wrapper form .input-group:nth-of-type(1) {
  position: relative;
  padding: 10px;
}
.wrapper form .input-group:nth-of-type(1) input {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline-style: none;
  font-size: 1.2em;
}
.wrapper form .input-group:nth-of-type(1) i {
  margin: 5px;
  padding: 5px;
  color: blue;
  margin-right: 0px;
}
.wrapper form .input-group:nth-of-type(2) input {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline-style: none;
  font-size: 1.2em;
}
.wrapper form .input-group:nth-of-type(2) i {
  margin: 5px;
  padding: 5px;
  color: blue;
  margin-right: 0px;
}
.wrapper form .input-group:nth-of-type(3) .input-box {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.wrapper form .input-group:nth-of-type(3) input {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline-style: none;
  font-size: 1.2em;
}
.wrapper form .input-group:nth-of-type(3) i {
  margin: 5px;
  padding: 5px;
  color: blue;
  margin-right: 0px;
}
.wrapper form .input-group:nth-of-type(3) .input-box:nth-of-type(2) input[type=radio] {
  width: 30px;
  height: 20px;
}
.wrapper form .input-group:nth-of-type(3) .input-box:nth-of-type(2) label {
  align-self: center;
  font-size: 1.4em;
}
.wrapper form .input-group:nth-of-type(4) {
  margin-bottom: 30px;
}
.wrapper form .input-group:nth-of-type(4) .input-box {
  margin-top: 30px;
  display: inline;
}
.wrapper form .input-group:nth-of-type(4) .input-box h4 {
  margin-top: 20px;
}
.wrapper form .input-group:nth-of-type(4) input[type=radio] {
  width: 30px;
  height: 20px;
}
.wrapper form .input-group:nth-of-type(4) i {
  padding: 5px;
  margin-right: 0px;
  font-size: 1.4em;
}
.wrapper form .input-group:nth-of-type(5),
.wrapper form .input-group:nth-of-type(6) {
  margin-bottom: 30px;
}
.wrapper form .input-group:nth-of-type(5) .input-box,
.wrapper form .input-group:nth-of-type(6) .input-box {
  margin-top: 30px;
}
.wrapper form .input-group:nth-of-type(5) .input-box h4,
.wrapper form .input-group:nth-of-type(6) .input-box h4 {
  margin-top: 20px;
}
.wrapper form .input-group:nth-of-type(5) .input-box select,
.wrapper form .input-group:nth-of-type(6) .input-box select {
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  margin: 2px;
  outline-style: none;
}
.wrapper form .input-group:nth-of-type(5) input,
.wrapper form .input-group:nth-of-type(6) input {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline-style: none;
  font-size: 1.2em;
}
.wrapper form .input-group:nth-of-type(5) i,
.wrapper form .input-group:nth-of-type(6) i {
  margin: 5px;
  padding: 5px;
  color: blue;
  margin-right: 0px;
}
.wrapper form .input-group:nth-of-type(5) i,
.wrapper form .input-group:nth-of-type(6) i {
  font-size: 1.4em;
}
.wrapper form .input-group:nth-of-type(7) button {
  padding: 10px;
  width: 150px;
  background: #0f5b99;
  border-radius: 25px;
  border: none;
  font-size: 1.5em;
  outline-style: none;
  transition: 1s ease;
}
.wrapper form .input-group:nth-of-type(7) button:hover {
  cursor: pointer;
  background: #fff;
  color: blue;
}
@media screen and (min-width: 360px) {
  .wrapper form .input-group:nth-of-type(7) button {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .wrapper form .input-group:nth-of-type(7) button {
    width: 150px;
  }
}