* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.fa {
  /* position: absolute; */
  left: 5%;
  bottom: 10px;
}

.fa-cc-visa,
.fa-cc-paypal {
  position: static;
}
.input-box {
  position: relative;
}
h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 2.2em;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.795), 1px 1px 1px rgb(196, 20, 29),
    0 0 1.5em rgb(240, 18, 103);
  border-bottom: 2px solid rgb(8, 122, 189);
  padding-bottom: 15px;
  color: lightcoral;
}

form {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.52),
    0px 7px 20px 0 rgba(0, 0, 0, 0.5), 0px 7px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

form h4 {
  transition: 1s ease;
  color: lightcoral;
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  border-left: 90px solid rgb(8, 122, 189);
  border-right: 90px solid rgb(8, 122, 189);
  text-shadow: 1px 1px 1px rgb(196, 20, 29), 0 0 1.5em rgb(240, 18, 103);
}
form h4:hover {
  border-left: 90px solid lightcoral;
  border-right: 90px solid lightcoral;
  color: rgb(8, 122, 189);
}
.input-group {
  border: 1px solid gray;
  margin: 5px;
}

.input-group {
  background: rgb(250, 242, 242);
  border: 1px solid rgb(241, 232, 232);
  padding: 20px;
  text-align: center;
  align-self: center;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.52),
    0px 7px 20px 0 rgba(0, 0, 0, 0.5), 0px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.input-group:nth-child(2) {
  border-top-left-radius: 50px;
  height: 200px;
}

.input-group:nth-child(3) {
  height: auto;
  border-bottom-left-radius: 50px;
}

.input-group input {
  transition: 1s ease;
  font-weight: bolder;
  font-size: 1.2em;
  position: relative;
  margin: 10px;
  border: none;
  padding: 5px;
  outline-style: none;
  background: transparent;
  color: rgb(8, 122, 189);
  border-bottom: 2px solid rgb(8, 122, 189);
  padding-bottom: 20px;
}

.input-group:nth-child(4) {
  border-radius: 10px;
}
.input-group:nth-child(4) input[type="radio"],
.input-group:nth-child(5) input[type="radio"] {
  width: 50px;
  height: 30px;
  background: rgb(204, 119, 119);
  cursor: pointer;
  padding: 10px;
  position: relative;
}

label,
.input-box {
  color: rgb(8, 122, 189);
  font-weight: bolder;
}
.input-group:nth-child(4) label,
.input-group:nth-child(5) label {
  position: relative;
  align-self: center;
  bottom: 10px;
}
.input-group:nth-child(5) {
  border-radius: 4px;
}
.input-group:nth-child(6) {
  padding: 10px;
  border-radius: 4px;
}

.input-box select {
  margin-top: 20px;
  border: rgb(8, 122, 189) 1px solid;
  width: 100px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  color: rgb(8, 122, 189);
}

button {
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-weight: bolder;
  background: rgb(8, 122, 189);
  color: rgb(241, 232, 232);
  border-radius: 25px;
  border: none;
  outline-style: none;
  cursor: pointer;
  font-size: 1.6em;
  transition: 1s ease;
}
button:hover {
  color: rgb(8, 122, 189);
  background: rgb(241, 232, 232);
  border: 1px solid rgb(8, 122, 189);
}

@media screen and (min-width: 700px) {
  form {
    margin: 100px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 900px) {
  form {
    margin: 150px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  form {
    margin: 200px;
    margin-top: 0px;
  }
}
