@font-face {
  font-family: "ubuntu";
  src: url("../Ubuntu-Regular.ttf");
}

@mixin m-input {
  input {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    //    color: crimson;
    border: none;
    outline-style: none;
    font-size: 1.2em;
  }
  i {
    margin: 5px;
    padding: 5px;
    color: crimson;
    margin-right: 0px;
  }
}

* {
  font-family: "ubuntu";
  // box-sizing: border-box;
}

body {
  background: #fff;
  text-align: center;
}
.wrapper {
  // padding-top: 40px;
  // padding-bottom: 40px;
  border-radius: 10px;
  text-align: center;

  h2 {
    // text-align: center;
    color: crimson;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-weight: bolder;
  }
  form {
    background: #3333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    // max-width: 330px;
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    @media screen and (min-width: 624px) {
      margin: auto 5rem;
    }

    margin: 10px;
    border: #fff 1px solid;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 0 5px grey;
    }
    h4 {
      letter-spacing: 0.112em;
      font-size: 1.4em;
      color: #fff;
      font-weight: bolder;
      text-transform: uppercase;
      margin: 0;
      padding: 1.5rem;
      background: crimson;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
    > h4 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
    .input-group {
      margin: 10px;
      .input-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          color: rgb(27, 24, 24);
          width: 200px;
          font-size: 1.2em;
          caret-color: crimson;
        }
      }
    }

    .input-group:nth-of-type(1) {
      //   background: crimson;
      position: relative;
      padding: 10px;
      margin: auto 2rem;
      @include m-input();
      .input-box {
        background: #3333;
        border-radius: 3px;
        margin: 2px;
      }

      @media screen and (min-width: 700px) {
        display: flex;
        width: 100%;
        .input-box {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
    .input-group:nth-of-type(2) {
      //   background: crimson;

      @include m-input();
      .input-box {
        background: #3333;
        border-radius: 3px;
        margin: 2px;
      }
      @media screen and (min-width: 700px) {
        width: 100%;
        .input-box {
          width: auto;
          input {
            width: 100%;
          }
        }
      }
    }
    // date and gender
    .input-group:nth-of-type(3) {
      margin-left: 0;
      margin-right: 0;
      border: 1px solid #fff;
      width: 100%;
      .input-box {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
        @media screen and (min-width: 360px) and (max-width: 860px) {
          width: 100%;
          input[placeholder="DD"] {
            width: 20%;
          }
          input[placeholder="MM"] {
            width: 20%;
          }
          input[placeholder="YYY"] {
            width: 20%;
          }
        }

        h4 {
          margin-left: 0;
          margin-right: 0;
        }
      }
      @include m-input();
      .input-box:nth-of-type(2) {
        input[type="radio"] {
          width: 30px;
          height: 20px;
        }
        label {
          align-self: center;
          font-size: 1.4em;
        }
      }
    } // end date and gender

    .input-group:nth-of-type(4) {
      margin-bottom: 30px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      label {
        span {
          i {
            font-family: "ubuntu";
            font-size: 1.5em;
          }
        }
      }
      i {
        border-radius: 3px;
        background: grey;
        &::before {
          color: crimson;
          margin-right: 5px;
          padding: 5px;
        }
      }

      @media screen and (min-width: 360px) and (max-width: 500px) {
        .bc1,
        .bc2 {
          padding: 0;
          width: 100%;
        }
      }
      .input-box {
        margin-top: 30px;
        display: inline;
        h4 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      input[type="radio"] {
        width: 30px;
        height: 20px;
      }
      i {
        padding: 5px;
        margin-right: 0px;
        font-size: 1.4em;
      }
    }
    .input-group:nth-of-type(5),
    .input-group:nth-of-type(6) {
      width: 100%;
      // margin-bottom: 30px;
      .input-box {
        // margin-top: 30px;
        select {
          padding: 10px;
          border-radius: 5px;
          font-size: 1em;
          margin: 2px;
          outline-style: none;
        }
      }
      @include m-input();
      i {
        font-size: 1.4em;
      }
    }
    .input-group:nth-of-type(5) {
      width: fit-content;
      .input-box {
        background: #3333;
        border-radius: 3px;
        margin: 2px;

        input {
          width: 210px + 183px;
        }
      }
    }
    .input-group:nth-of-type(6) {
      display: flex;
      justify-content: center;
      align-content: center;
      > .input-box {
        background: #3333;
        border-radius: 3px;
        margin: 2px;
      }
    }
    .input-group:nth-of-type(7) {
      width: 100%;
      .input-box {
        width: 100%;
        button {
          padding: 10px;
          width: 50%;
          background: crimson;
          border-radius: 25px;
          border: none;
          font-size: 1.5em;
          outline-style: none;
          transition: 1s ease;
          color: #fff;
          // text-transform: uppercase;
          letter-spacing: 2px;
          @media screen and (min-width: 700px) {
            width: 300px;
          }
          &:hover {
            cursor: pointer;
            background: rgb(141, 22, 46);
          }
        }
      }
    }
  }
}
